html(lang="en")
    include head.pug
    body
        main
            include nav.pug
            div.container
                each article in data
                    div.card
                        div.card-image
                            img(src=article.imgSrc)
                            span.card-title(id=article.id)=article.title
                        div.card-content
                            p
                                - var i = 0;
                                while i < article.mark
                                    i.material-icons.amber-text(style="font-size:32px;") star
                                    - i++
                            p.right
                                i=article.author
                            div.card-action
                                div.center-align
                                    a(href="/details/" + article.id)
                                        button.btn.orange.black-text Voir la game Review
                                                            
            div(class="fixed-action-btn")
                            a(href="/write" class="btn-floating orange btn-large")
                                i(class="large material-icons black-text") add
    include footer.pug    